* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-400.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-500.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-600.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-700.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-800.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-white: rgba(231, 231, 231, 1);
  --text-black: rgba(26, 26, 26, 1);
  --text-gray: rgba(174, 179, 190, 1);
  --text-blue: rgba(77, 210, 255, 1);
  --background-main: rgba(14, 14, 14, 1);
  --background-white: rgba(254, 254, 254, 1);
  --background-dark: rgba(21, 24, 33, 1);
  --background-light: rgba(27, 30, 41, 1);
  --borders-dark-blue: rgba(42, 47, 58, 1);
  --background-gray: rgba(108, 114, 117, 1);
  --red-button: rgba(248, 44, 86, 1);
  --yellow-button: rgba(253, 219, 17, 1);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  font-weight: 500;
  color: var(--text-white);
  overflow-x: hidden;
  background-color: var(--background-main);
}

a {
  text-decoration: none;
  color: var(--text-white);
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 26px 32px;
  background-color: var(--background-main);
}

.logo {
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: var(--text-white);
}

.header__navigation-items {
  display: none;
}

/* Hamburger Button */

.header__hamburger {
  position: relative;
  width: 54px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 11px;
  z-index: 1000;
}

.header__hamburger-line {
  position: absolute;
  width: 54px;
  height: 8px;
  background: var(--background-white);
  border-radius: 8px;
  transition: 0.4s ease, height 0.4s ease;
  left: 0;
  transform-origin: center;
}

.header__hamburger-line--top {
  top: 0;
}

.header__hamburger-line--middle {
  top: calc(50% - 4px);
}

.header__hamburger-line--bottom {
  bottom: 0;
}

body.lock {
  overflow: hidden;
}

.header.open .header__hamburger-line--top,
.header.open .header__hamburger-line--bottom {
  height: 4px;
  border-radius: 20px;
}

.header.open .header__hamburger-line--top {
  transform: rotate(45deg);
  top: calc(50% - 2px);
  background-color: rgb(255, 255, 255);
}

.header.open .header__hamburger-line--middle {
  opacity: 0;
  transform: scaleX(0);
  background-color: rgb(255, 255, 255);
}

.header.open .header__hamburger-line--bottom {
  transform: rotate(-45deg);
  bottom: auto;
  top: calc(50% - 2px);
  background-color: rgb(255, 255, 255);
}

body.lock {
  overflow: hidden;
}

/* Mobile Menu */

.header__mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 26px 32px;
  transform: translateX(100%);
  background: linear-gradient(
    145deg,
    #26121a 0%,
    #23151c 20%,
    #1e1920 45%,
    #171e26 75%,
    #13222a 100%
  );
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.header.open .header__mobile-menu {
  transform: translateX(0);
  opacity: 1;
}

.mobile-menu__navigation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu__navigation-item {
  width: 100%;
  padding: 18px 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: var(--text-white);
  border-bottom: 1px solid var(--text-white);
}

.socials {
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.social-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.1px;
  color: var(--text-gray);
}

.social-link-separator {
  color: var(--text-gray);
}

/* Hero */

.hero {
  background: url(../images/hero-background.webp) no-repeat center center;
  background-size: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 26px 32px;
}

.hero__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
}

.hero__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.hero__text-accent {
  color: var(--text-blue);
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
  color: var(--text-white);
}

.hero__button {
  background: linear-gradient(180deg, #feed49 0%, #fdd804 100%);
  box-shadow: 0 0 28px rgba(255, 217, 96, 0.9);
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-black);
  margin-top: 12px;
}

/* Events */

.events {
  padding: 46px 32px 26px;
}

.events__sheet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.events__header {
  display: none;
}

.events__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--borders-dark-blue);
  border-radius: 10px;
  background-color: var(--background-light);
}

.events__list-title {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid var(--borders-dark-blue);
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
}

.events__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: var(--background-dark);
}

.events__line:not(:last-child) {
  border-bottom: 1px solid var(--borders-dark-blue);
}

.events__line-item {
  width: 100%;
  padding: 6px 0 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-bottom: 1px solid var(--borders-dark-blue);
}

.red-button {
  width: fit-content;
  margin-top: 12px;
  padding: 10px 17px;
  background-color: var(--red-button);
  font-size: 12px;
  font-weight: 800;
  line-height: 18px;
  text-align: center;
}

/* Members */

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 26px 32px 52px;
}

.section-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  text-align: center;
}

.members__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.members__card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--borders-dark-blue);
}

.members__card-image {
  width: 100%;
  object-fit: contain;
}

.members__card-label {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--text-gray);
  background-color: var(--background-light);
}

/* Our Story */

.our-story {
  padding: 26px 32px 42px;
  background: linear-gradient(
    145deg,
    #14191f 0%,
    #16181d 20%,
    #19151b 45%,
    #1a1419 75%,
    #1e1218 100%
  );
}

.our-story__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.our-story__content-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.our-story__texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.our-story__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* Contacts */

.contacts {
  padding: 26px 32px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background: linear-gradient(
    145deg,
    #26121a 0%,
    #23151c 20%,
    #1e1920 45%,
    #171e26 75%,
    #13222a 100%
  );
}

.contacts__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contacts__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-gray);
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.default-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.contacts__input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.default-form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.default-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.default-input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--text-gray);
}

.default-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--borders-dark-blue);
  border-radius: 6px;
  background-color: var(--background-dark);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-gray);
}

.contacts__input::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.contacts__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border: 1px solid var(--borders-dark-blue);
  border-radius: 12px;
  background-color: var(--background-dark);
}

.contacts__map-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
}

.contacts__map-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 5 / 6;
}

/* Footer */

.footer__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding: 26px 32px;
  border-top: 1px solid var(--borders-dark-blue);
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--text-gray);
}

/* Ticket Modal */

.ticket-modal {
  position: fixed;
  inset: 0;
  display: flex; /* оставляем flex для центровки */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: none; /* чтобы скрытая модалка не ловила клики */
}

.ticket-modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(21, 24, 33, 0.6);
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ticket-modal__window {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--background-dark);
  padding: 32px;
  border-radius: 12px;
  width: calc(100% - (32px * 3));
  color: white;
  border: 1px solid var(--borders-dark-blue);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ticket-modal--active {
  pointer-events: auto;
}

.ticket-modal--active .ticket-modal__overlay {
  opacity: 1;
}

.ticket-modal--active .ticket-modal__window {
  opacity: 1;
  transform: translateY(0);
}

.ticket-modal__close {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 38px;
  background: none;
  border: none;
  color: var(--background-white);
  cursor: pointer;
}

.ticket-modal__label {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
}

.ticket-modal__input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--borders-dark-blue);
  background: var(--background-light);
  color: var(--text-white);
}

.ticket-modal__submit {
  width: 100%;
  margin-top: 10px;
}

/* Mobile 480+px */

@media (min-width: 480px) {
  .header,
  .header__mobile-menu,
  .hero__content,
  .footer__content {
    padding: 30px 38px;
  }

  .events,
  .members,
  .our-story,
  .contacts {
    padding: 52px 38px 30px;
  }

  .contacts__input-group {
    gap: 12px;
  }

  .default-form {
    gap: 16px;
  }

  .members__cards {
    gap: 24px;
  }

  .contacts__description,
  .default-input,
  .members__card-label,
  .events__line-item {
    font-size: 15px;
    line-height: 22px;
  }

  .ticket-modal__window {
    width: calc(100% - (38px * 3));
  }
}

/* Tablet / Laptop 768+px */

@media (min-width: 768px) {
  .header {
    padding: 30px 48px;
  }

  .logo {
    font-size: 32px;
  }

  .logo__wrapper {
    max-width: max-content;
    display: inline-block;
    position: relative;
    overflow: visible;
    cursor: pointer;
  }

  .logo {
    display: block;
    transition: transform 0.6s ease;
    position: relative;
    z-index: 2;
  }

  .logo__wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 150%;
    height: 70%;
    background: radial-gradient(
      ellipse at center,
      #ff80bf 0%,
      #99b3ff 70%,
      #ffffff 100%
    );
    border-radius: 50%;
    opacity: 0;
    filter: blur(30px);
    z-index: 1;
    transition: opacity 0.4s ease;
    animation: none;
  }

  .logo__wrapper:hover .logo {
    transform: scale(1.07);
  }

  .logo__wrapper:hover::before {
    opacity: 1;
    animation: glowPulse 2s infinite ease-in-out;
  }

  .header__navigation-item {
    position: relative;
    padding: 6px 0;
  }

  .header__navigation-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--text-white);
    width: 0%;
    transition: width 0.3s ease;
  }

  .header__navigation-item:hover::after {
    width: 100%;
    animation: linebounce 1.5s ease-in-out 0.3s infinite;
  }

  .hero__button {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  }

  .hero__button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 36px rgba(255, 230, 120, 1);
    background: linear-gradient(180deg, #fff36b 0%, #ffee3b 100%);
  }

  .hero__button:active {
    transform: scale(0.98);
    box-shadow: 0 0 20px rgba(255, 230, 120, 0.6);
  }

  .red-button {
    position: relative;
    outline: 2px solid transparent;
    overflow: hidden;
    min-width: 140px;
    transition: background-color 0.3s ease, outline 0.3s ease,
      letter-spacing 0.3s ease;
  }

  .red-button:hover {
    background-color: var(--background-light);
    outline: 2px solid var(--borders-dark-blue);
    outline-offset: 2px;
    letter-spacing: 0.2px;
  }

  .red-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -53%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
    pointer-events: none;
  }

  .red-button:hover::after {
    left: 150%;
  }

  .red-button:active {
    transform: scale(0.98);
  }

  .header__hamburger,
  .header__mobile-menu {
    display: none;
  }

  .header__navigation-items {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .header__mobile-menu,
  .hero__content,
  .footer__content {
    padding: 36px 48px;
  }

  .hero__content {
    align-items: start;
  }

  .hero__title {
    font-size: 40px;
    line-height: 58px;
  }

  .hero__button {
    width: fit-content;
  }

  .contacts__input-group {
    gap: 14px;
  }

  .default-form {
    gap: 20px;
  }

  .members {
    padding: 52px 38px 42px;
    gap: 24px;
  }

  .members__cards {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .members__card-image {
    object-fit: contain;
    transition: transform 0.4s ease;
  }

  .members__card {
    transition: outline 0.4s ease;
    position: relative;
    overflow: hidden;
  }

  .members__card:hover .members__card-image {
    transform: scale(1.05);
  }

  .members__card::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    border: 2px solid var(--background-white);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  .members__card:hover::after {
    opacity: 1;
  }

  .members__card-image {
    object-fit: contain;
    transition: transform 0.4s ease;
  }

  .members__card:hover .members__card-image {
    transform: scale(1.05);
  }

  .card--guitarist:hover {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 32 32' fill='%232a2f3a' stroke='white' stroke-width='1' transform='rotate(-45) matrix(1,0,0,-1,0,0)'%3E%3Cpath d='M18.448 26.655c.001-.001.001-.001.001-.002 2.407-3.406 6.792-9.888 8.717-14.401.535-1.252.882-2.367.983-3.246.088-.778-.016-1.414-.263-1.881-.359-.676-1.158-1.309-2.339-1.783-2.201-.881-5.872-1.342-9.545-1.342-3.673 0-7.344.461-9.545 1.342-1.181.474-1.98 1.107-2.338 1.783-.248.467-.352 1.103-.263 1.881.1.879.447 1.994.982 3.246 1.925 4.513 6.31 10.995 8.716 14.402 0 0 0 .001.001.002.563.792 1.475 1.263 2.447 1.263.972 0 1.884-.471 2.446-1.264zm-2.455-17.699l-.001.055v4.601a3.409 3.409 0 0 0-.742-.101c-1.518 0-2.75 1.232-2.75 2.75s1.232 2.75 2.75 2.75c1.518 0 2.75-1.233 2.75-2.75 0-.073-.008-4.835-.008-4.835l1.301 1.301c.39.39 1.024.39 1.414 0s.39-1.024 0-1.414l-3.008-3.009c-.39-.39-1.024-.39-1.414 0-.182.181-.279.415-.292.652z'/%3E%3C/svg%3E")
        12 12,
      pointer;
  }

  .card--vocalist:hover {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 104 104' fill='%232a2f3a' stroke='white' stroke-width='3'%3E%3Cg transform='translate(104,0) scale(-1,1)'%3E%3Cpath d='M13.1095,99.158 C13.1095,99.158 8.148,100.753 3.4174,95.9752 C-1.3132,91.1977 0.2658,86.1872 0.2658,86.1872 L50.3843,30.6931 C51.6216,34.7691 53.8367,38.6073 57.0298,41.832 C60.2228,45.0567 64.0235,47.2938 68.0595,48.5433 L13.1095,99.158 Z'/%3E%3Cpath d='M45.7109,51.2635 L41.9644,55.0471 C41.3901,55.6271 41.3901,56.5674 41.9644,57.1474 C42.5387,57.7274 43.4698,57.7274 44.0441,57.1474 L47.7906,53.3638 C48.3649,52.7838 48.3649,51.8435 47.7906,51.2635 C47.2163,50.6835 46.2852,50.6835 45.7109,51.2635 Z'/%3E%3Cpath d='M57.0072,42.2551 C66.5788,51.8268 82.1744,51.75 91.8409,42.0835 C101.5073,32.4171 101.5841,16.8215 92.0124,7.24983 C82.4408,-2.32184 66.8452,-2.24502 57.1788,7.42143 C47.5123,17.0879 47.4355,32.6834 57.0072,42.2551 Z'/%3E%3Cpath d='M94.8604,38.4361 C101.3912,28.8227 100.4554,15.6928 92.0124,7.24983 C83.5626,-1.2 70.4182,-2.1305 60.8027,4.41788 C61.3666,4.65892 61.8951,5.0118 62.3554,5.4767 L94.2525,37.6896 C94.483,37.9224 94.6856,38.1726 94.8604,38.4361 Z M87.9772,45.2483 C78.384,51.6195 65.387,50.635 57.0072,42.2551 C48.4886,33.7365 47.6122,20.4467 54.3365,10.8114 C54.5749,11.4183 54.937,11.987 55.423,12.4778 L87.3201,44.6907 C87.5264,44.899 87.7465,45.0849 87.9772,45.2483 Z'/%3E%3C/g%3E%3C/svg%3E")
        12 12,
      pointer;
  }

  .card--drummer:hover {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 309.392 309.392'%3E%3Cpath fill='%232a2f3a' fill-opacity='1' stroke='white' stroke-width='10' stroke-opacity='1' d='M12.759,275.147c-7.18,7.177-7.858,18.139-1.517,24.482c6.34,6.338,17.303,5.659,24.482-1.518l112.357-118.33 l131.061-61.335c4.557,1.931,10.937,1.76,17.146-0.948c9.683-4.233,15.213-12.976,12.35-19.534 c-2.863-6.561-13.038-8.445-22.722-4.215c-6.38,2.788-10.895,7.539-12.453,12.326l-90.043,36.498l99.234-104.505 c4.949,0.138,10.822-2.356,15.611-7.143c7.473-7.472,9.43-17.629,4.37-22.693c-5.059-5.064-15.218-3.107-22.695,4.367 c-4.925,4.927-7.39,10.993-7.094,16.024L129.629,164.372L0,216.909l0.197,32.073l79.313-37.117L12.759,275.147z' transform='translate(309.392,0) scale(-1,1)'/%3E%3C/svg%3E")
        12 12,
      pointer;
  }

  .our-story__content-block {
    gap: 18px;
  }

  .our-story__text {
    font-size: 14px;
    line-height: 21px;
  }

  .contacts__description,
  .default-input,
  .members__card-label,
  .events__line-item {
    font-size: 15px;
    line-height: 26px;
  }

  .events,
  .members,
  .our-story,
  .contacts {
    padding: 52px 48px 30px;
  }
  .contacts__content {
    gap: 24px;
  }

  .members__card {
    max-width: 296px;
  }

  .contacts__input-group {
    flex-direction: row;
  }

  .contacts__map-image {
    aspect-ratio: 16 / 9;
  }

  .footer__content,
  .footer__contacts {
    flex-direction: row;
  }

  .footer__content {
    justify-content: space-between;
  }

  .footer__contacts-link {
    position: relative;
    transition: text-shadow 0.3s ease;
  }

  .footer__contacts-link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }

  .footer__content {
    gap: 8px;
  }

  .footer__info {
    align-items: start;
    gap: 18px;
  }

  .footer__social-link {
    position: relative;
    color: var(--text-gray);
    transition: color 0.5s ease;
    padding-bottom: 4px;
    text-decoration: none;
  }

  .footer__social-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    will-change: transform;
    transform-origin: left;
    transition: transform 0.5s ease;
  }

  .footer__social-link:hover::after {
    transform: scaleX(1);
  }

  .footer__social-link--facebook:hover {
    color: #1877f2;
  }

  .footer__social-link--instagram:hover {
    color: #e1306c;
  }

  .footer__social-link--youtube:hover {
    color: #ff0000;
  }

  .ticket-modal__close {
    top: 4px;
    right: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .ticket-modal__close:hover {
    color: var(--text-gray);
  }

  .ticket-modal__close:active {
    transform: scale(0.9);
  }

  .ticket-modal__window {
    width: calc(100% - (48px * 3));
  }
}

/* Tablet 1024+px */

@media (min-width: 1024px) {
  .hero__content {
    padding: 86px 118px;
  }

  .events,
  .members,
  .our-story,
  .contacts {
    padding: 58px 118px 36px;
  }

  .events__list-title {
    text-align: start;
    padding: 16px;
  }

  .events__header {
    display: flex;
    align-items: center;
    padding: 16px 162px 16px 16px;
    width: 100%;
  }

  .events__header-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 6px 0 8px;
    width: 100%;
  }

  .events__line-value {
    white-space: nowrap;
    text-align: center;
  }

  .events__line {
    flex-direction: row;
    padding: 13px 16px;
  }

  .events__line-item {
    display: block;
    border-bottom: none;
  }

  .events__line-label {
    display: none;
  }

  .events__line-button {
    margin: 0;
  }

  .members__cards {
    width: 90%;
  }

  .our-story__content {
    align-items: start;
  }

  .our-story__content-block {
    display: block;
    position: relative;
  }

  .section-title {
    font-size: 26px;
    line-height: 38px;
  }

  .our-story__image {
    width: 42%;
    float: right;
    margin: 0 0 12px 12px;
  }

  .our-story__text {
    margin-bottom: 12px;
    line-height: 22px;
  }

  .our-story__texts {
    display: inline;
  }

  .contacts {
    gap: 24px;
  }

  .contacts__content {
    flex-direction: row;
    align-items: start;
    gap: 28px;
  }

  .default-form {
    align-items: start;
  }

  .contacts__input--textarea {
    min-height: 84px;
  }

  .contacts__map {
    align-items: start;
    gap: 16px;
    padding: 16px;
  }

  .footer__content {
    padding: 42px 118px;
  }

  .ticket-modal__window {
    width: calc(100% - (118px * 3));
  }
}

/* Laptop 1280+px */

@media (min-width: 1280px) {
  .header {
    padding: 30px 86px;
  }

  .hero__content {
    padding: 96px 182px;
  }

  .events,
  .members,
  .our-story,
  .contacts {
    padding: 58px 182px 36px;
  }

  .events__list-title {
    padding: 18px;
    font-size: 23px;
  }

  .events__header {
    display: flex;
    align-items: center;
    padding: 8px 164px 8px 16px;
    width: 100%;
  }

  .footer__content {
    padding: 46px 182px;
  }

  .footer__info {
    gap: 24px;
  }

  .ticket-modal__window {
    width: calc(100% - (182px * 3));
  }
}

/* PC 1600+px */

@media (min-width: 1600px) {
  .header {
    padding: 20px 265px;
  }

  .header__navigation-items {
    gap: 22px;
  }

  .hero__content {
    padding: 137px 377px 123px;
    gap: 32px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1.8px;
  }

  .hero__subtitle {
    letter-spacing: 0.1px;
  }

  .hero__texts {
    font-size: 16px;
    line-height: 26px;
  }

  .hero__button {
    margin-top: 21px;
  }

  .events {
    padding: 64px 376px;
  }

  .events__header {
    padding: 8px 302px 8px 16px;
  }

  .events__line {
    padding: 12px 154px 12px 16px;
  }

  .events__list-title {
    padding: 18px 20px;
    font-size: 24px;
  }

  .events__line-button {
    font-size: 13px;
  }

  .red-button {
    min-width: 148px;
  }

  .members {
    gap: 40px;
    padding: 68px 358px 82px;
  }

  .section-title {
    font-size: 32px;
    line-height: 48px;
  }

  .our-story {
    padding: 64px 376px 62px;
  }

  .our-story__content {
    gap: 26px;
  }

  .our-story__title {
    letter-spacing: -0.4px;
  }

  .our-story__text {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 27px;
  }

  .our-story__image {
    width: 38%;
  }

  .contacts {
    padding: 66px 376px 78px;
    gap: 36px;
  }

  .contacts__content {
    gap: 38px;
  }

  .contacts__description {
    font-size: 17px;
  }

  .contacts__map {
    width: 96%;
    padding: 20px;
  }

  .contacts__submit-button {
    margin-top: 0;
    padding: 14px 32px;
    font-size: 16px;
  }

  .footer__content {
    padding: 46px 376px;
  }

  .ticket-modal__window {
    width: calc(100% - (377px * 3));
  }
}

@keyframes glowPulse {
  0% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(20px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
    filter: blur(30px);
  }
  100% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(20px);
  }
}

@keyframes linebounce {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 60%;
  }
}
